.file-upload {
    background-color: #3b2f7567;
    border: 2px;
    padding: 10%;
    margin-top: 8%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-file-upload {
    background-color: #6b57ea5b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    width: 160px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 10px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: rgb(125, 95, 222);
}

.upload-icon {
    width: 25px;
}

.download-links{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 20px;
}

.download-template-btn{
    color: #aa93ff;
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: center;
    align-items: center;
    gap: 15px;
    border: 2px solid #aa93ff;
    border-radius: 5px;
    width: 380px;
    padding: 10px;
    
}

.download-template-btn:hover{
   background-color: #110c315b;
}
