.question {
    margin-top: 10%;
    padding: 10px;
    background-color: #1c0943;
    border-radius: 5px;
    min-width: 500px;
    max-width: 500px;
    height: fit-content;
    min-height: 200px;
  }
  
  .question h3 {
    margin-bottom: 10px;
  }
  
  .question p {
    font-size: 16px;
  }
  