.square {
  width: 4rem;
  height: 4.7rem;
    font-size: 30px;
    justify-content: center;
    background: none;
    border: 2px solid #353935;
    border-radius: 8px;
    color: #353935;
    text-align: center;
    margin: 10px;
  }
  
  .sorted {
    color: #00f7ff;
    border: 2px solid #00f7ff;
  }
  
  .square .char {
    font-size: 20px;
  }
  